.modalpost-update {
  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9000;
  color: black;
  display: flex;
  justify-content: center;
  animation: 0.2s;
  -webkit-animation: fadein 0.2s; /* //Safari, Chrome and Opera > 12.1 */
}
